<div class="footer">
  <footer class="container">
    <div class="main">
      <img src="/logos/atm-extended.svg" alt="Atmus CRM Logo" />
      <div class="socials responsive-only">
        <a class="social" href="">
          <i class="bx bxl-github"></i>
        </a>
        <a class="social" href="">
          <i class="bx bxl-instagram"></i>
        </a>
        <a class="social" href="" class="social">
          <i class="bx bxl-linkedin"></i>
        </a>
        <a class="social" href="">
          <i class="bx bxl-discord"></i>
        </a>
      </div>
      <div class="nav">
        <section class="list">
          <h3>COMUNIDADE</h3>
          <ul>
            <li>
              <a href="">
                Marketplace
              </a>
            </li>
            <li>
              <a href="">
                Suporte
              </a>
            </li>
          </ul>
        </section>
        <section class="list">
          <h3>LINKS ÚTEIS</h3>
          <ul>
            <li>
              <a href="">
                Contato
              </a>
            </li>
            <li>
              <a href="">
                Sobre Nós
              </a>
            </li>
          </ul>
        </section>
        <section class="list">
          <h3>LEGAL</h3>
          <ul>
            <li>
              <a href="">
                Políticas de privacidade
              </a>
            </li>
            <li>
              <a href="">
                Termos e Condições
              </a>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <hr />
    <section class="rights-and-socials">
      <p>Atmus TecnologiaⒸ 2024. Todos os direitos reservados.</p>
      <div class="socials desktop-only">
        <a class="social" href="">
          <i class="bx bxl-github"></i>
        </a>
        <a class="social" href="">
          <i class="bx bxl-instagram"></i>
        </a>
        <a class="social" href="" class="social">
          <i class="bx bxl-linkedin"></i>
        </a>
        <a class="social" href="">
          <i class="bx bxl-discord"></i>
        </a>
      </div>
    </section>
  </footer>
</div>