<nav class="navbar" [ngClass]="isVisible ? 'nav-inactive' : 'nav-active'">
  <img src="/logos/logo.svg" alt="Logo Atmus CRM" class="logo responsive-only"/>
  <img src="/logos/logo-extended.svg" alt="Logo extendida Atmus CRM" class="desktop-only"/>
  <ul class="list">
    <li>
      <a
        routerLink="/home"
        routerLinkActive="active"
        class="list-active list-item"
      >
        Inicial
      </a>
    </li>
    <li>
      <a routerLink="/clients" routerLinkActive="active" class="list-item">
        Integrações
      </a>
    </li>
    <li>
      <a routerLink="/clients" routerLinkActive="active" class="list-item">
        Planos
      </a>
    </li>
  </ul>
  <div class="btn-group">
    <button class="btn-primary">Teste por 7 dias</button>
    <button class="btn-secondary">
      <a routerLink="/login" routerLinkActive="active">
        <i class="bx bx-user"></i> 
        Login 
      </a>
    </button>
  </div>
</nav>
