<nav class="navbar">
  <div class="container">
    <div class="logo-group">
      <img src="/logos/logo.svg" alt="Logo Atmus CRM" class="logo responsive-only" />
      <img src="/logos/logo-extended.svg" alt="Logo extendida Atmus CRM" class="desktop-only" />
    </div>
    <ul class="list">
      <li>
        <a href="#header" class="list-item header anchor" (click)="scrollToSection('header')">
          Inicial
        </a>
      </li>
      <li>
        <a href="#integrations" class="list-item integrations anchor" (click)="scrollToSection('integrations')">
          Integrações
        </a>
      </li>
      <li>
        <a href="#plans" class="list-item anchor plans " (click)="scrollToSection('plans')">
          Planos
        </a>
      </li>
    </ul>
    <div class="btn-group">
      <button class="btn-primary">Teste por 7 dias</button>
      <button class="btn-secondary">
        <a routerLink="/login" routerLinkActive="active">
          <i class="bx bx-user"></i>
          Login
        </a>
      </button>
    </div>
  </div>
</nav>