<div class="main">
  <h1>Conheça mais sobre <span>Nossos Planos</span></h1>
  <div class="plans-list">
    <div class="list-item one js-play-on-screen">
      <div class="priceAndButton">
        <div class="content">
          <div class="tag a">
            <p>STARTER</p>
          </div>
          <div class="prices">
            <div class="old">
              <div class="text">
                <span class="value">
                  R$47,90
                  por
                </span>
              </div>
              <div class="line"></div>
            </div>
            <div class="actual">
              <div class="value">
                R$34,99</div>
              <div class="period">
                /mês</div>
            </div>
          </div>
        </div>
        <button class="btn-primary">
          Assinar plano
        </button>
      </div>
      <div class="benefits">
        <ul *ngIf="!showAllOne" class="list">
          <li *ngFor="let benefit of benefitsOne | slice:0:7" class="item">
            <i class="bx bx-check-circle"></i>
            {{ benefit.text }}
          </li>
        </ul>
        <ul *ngIf="showAllOne" class="list">
          <li *ngFor="let benefit of benefitsOne" class="item">
            <i class="bx bx-check-circle"></i>
            {{ benefit.text }}
          </li>
        </ul>
        <div class="show-more">
          <button (click)="showAllOne = !showAllOne" class="show-all-btn text">
            <p *ngIf="showAllOne">
              Ocultar todos
              <i class='bx bx-chevron-up'></i>
            </p>
            <p *ngIf="!showAllOne">
              Mostrar todos
              <i class='bx bx-chevron-down'></i>
            </p>

          </button>
        </div>
      </div>
    </div>
    <div class="list-item two js-play-on-screen">
      <div class="priceAndButton two">
        <div class="content two">
          <div class="tags">
            <div class="tag a">
              <p>PRO</p>
            </div>
            <div class="tag b">
              <i class='bx bxs-hot'></i>
              <p>Melhor escolha</p>
            </div>
          </div>
          <div class="prices two">
            <div class="old two">
              <div class="text two">
                <span class="value two">
                  R$47,90
                  por
                </span>
              </div>
              <div class="line"></div>
            </div>
            <div class="actual">
              <div class="value">
                R$34,99</div>
              <div class="period">
                /mês</div>
            </div>
          </div>
        </div>
        <button class="btn-primary two">
          Assinar plano
        </button>
      </div>
      <div class="benefits">
        <ul *ngIf="!showAllTwo" class="list two">
          <li *ngFor="let benefit of benefitsTwo | slice:0:7" class="item">
            <i class="bx bx-check-circle"></i>
            {{ benefit.text }}
          </li>
        </ul>
        <ul *ngIf="showAllTwo" class="list two">
          <li *ngFor="let benefit of benefitsTwo" class="item">
            <i class="bx bx-check-circle"></i>
            {{ benefit.text }}
          </li>
        </ul>
        <div class="show-more two">
          <button (click)="showAllTwo = !showAllTwo" class="show-all-btn text">
            <p *ngIf="showAllTwo">
              Ocultar todos
              <i class='bx bx-chevron-up'></i>
            </p>
            <p *ngIf="!showAllTwo">
              Mostrar todos
              <i class='bx bx-chevron-down'></i>
            </p>
          </button>
        </div>
      </div>
    </div>
    <div class="list-item three js-play-on-screen">
      <div class="priceAndButton">
        <div class="content">
          <div class="tag a">
            <p>ENTERPRISE</p>
          </div>
          <div class="prices">
            <div class="old">
              <div class="text">
                <span class="value">
                  R$47,90
                  por
                </span>
              </div>
              <div class="line"></div>
            </div>
            <div class="actual">
              <div class="value">
                R$34,99</div>
              <div class="period">
                /mês</div>
            </div>
          </div>
        </div>
        <button class="btn-primary">
          Assinar plano
        </button>
      </div>
      <div class="benefits">
        <ul *ngIf="!showAllThree" class="list">
          <li *ngFor="let benefit of benefitsThree | slice:0:7" class="item">
            <i class="bx bx-check-circle"></i>
            {{ benefit.text }}
          </li>
        </ul>
        <ul *ngIf="showAllThree" class="list">
          <li *ngFor="let benefit of benefitsThree" class="item">
            <i class="bx bx-check-circle"></i>
            {{ benefit.text }}
          </li>

        </ul>
        <div class="show-more">
          <button (click)="showAllThree = !showAllThree" class="show-all-btn text">
            <p *ngIf="showAllThree">
              Ocultar todos
              <i class='bx bx-chevron-up'></i>
            </p>
            <p *ngIf="!showAllThree">
              Mostrar todos
              <i class='bx bx-chevron-down'></i>
            </p>

          </button>
        </div>
      </div>
    </div>
  </div>
</div>