.main {
  @apply tw-flex;
  @apply tw-flex-col;
  @apply tw-justify-center;
  @apply tw-items-center;

  @apply tw-gap-10;

  @apply tw-w-full;

  @apply tw-mt-32;
  @apply tw-py-16;

  @apply tw-bg-gray-100;
}

.main h1 {
  /* responsive */
  @apply tw-mb-4;

  @apply tw-text-2xl;
  @apply tw-font-semibold;

  /* desktop */
  @apply md:tw-text-4xl;

  /* all */
  @apply tw-text-center;
}

.main span {
  /* responsive */
  @apply tw-text-pink-500;

  @apply tw-text-2xl;
  @apply tw-font-semibold;

  /* desktop */
  @apply md:tw-text-4xl;
}

.main .plans-list {
  @apply tw-container;
  @apply tw-px-6;

  /* desktop */
  @apply md:tw-px-20;

  /* all */
  @apply tw-flex;
  @apply tw-justify-center;
  @apply tw-flex-wrap;
  @apply tw-items-start;

  @apply tw-gap-8;

  @apply tw-w-full;
}

.list-item {
  @apply tw-flex;
  @apply tw-flex-col;
  @apply tw-justify-center;
  @apply tw-items-center;

  @apply tw-w-fit;

  @apply tw-bg-gray-50;

  @apply tw-shadow-md;
  @apply tw-rounded-xl;

  @apply tw-max-w-96;

  @apply tw-gap-8;

  flex: 1 1 auto;
}

.list-item:hover {
  @apply tw-cursor-pointer;
  @apply tw-shadow-lg;
  @apply tw-scale-105;

  @apply tw-transition;
  @apply tw-duration-500;
  @apply tw-ease-in-out;

}

.priceAndButton {
  @apply tw-p-4;

  @apply tw-shadow-lg;

  @apply tw-rounded-2xl;

  @apply tw-w-full;

  @apply tw-bg-white-50;
}

.list-item .content {
  @apply tw-px-4;
  @apply tw-py-4;

  @apply tw-mb-4;

  @apply tw-justify-center;
  @apply tw-items-start;

  @apply tw-bg-white-100;
  @apply tw-rounded-xl;
}

.list-item .content.two {
  @apply tw-bg-white-50;
}

.tags {
  @apply tw-flex;
  @apply tw-justify-between;
  @apply tw-items-center;
  @apply tw-gap-2;
}

.tag {
  @apply tw-px-4;
  @apply tw-py-1;

  @apply tw-mb-4;

  @apply tw-text-base;
  @apply tw-font-semibold;

  @apply tw-w-fit;

  @apply tw-rounded-full;
  @apply tw-bg-white-200;
}

.tag.b {
  @apply tw-flex;
  @apply tw-justify-center;
  @apply tw-items-center;
  @apply tw-gap-2;

  @apply tw-bg-gradient-to-tl;
  @apply tw-from-gray-900;
  @apply tw-to-gray-700;

  @apply tw-text-white-50;
}

.prices {
  @apply tw-flex;
  @apply tw-flex-col;
  @apply tw-justify-center;
  @apply tw-items-start;
  @apply tw-gap-1;
}

.prices .old {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.prices .old .coin {
  @apply tw-text-white-300;
  @apply tw-text-base;
  word-wrap: break-word
}

.prices .old .value {
  @apply tw-text-white-300;
  @apply tw-text-2xl;
}

.line {
  @apply tw-absolute;
  @apply tw-w-[124px];
  @apply tw-h-[2px];
  @apply tw-bg-white-300;
}

.prices .actual {
  justify-content: center;
  align-items: center;
  gap: 4px;
  display: inline-flex
}

.prices .actual .coin {
  @apply tw-text-center;
  @apply tw-text-white-950;
  @apply tw-text-2xl;
}

.prices .actual .value {
  @apply tw-text-center;
  @apply tw-text-white-950;
  @apply tw-font-semibold;
  @apply tw-text-5xl;
}

.period {
  @apply tw-font-semibold;
  @apply tw-text-xl;
}

.benefits {
  @apply tw-flex;
  @apply tw-flex-col;
  @apply tw-justify-start;
  @apply tw-items-center;
  @apply tw-gap-6;

  @apply tw-transition-all;
  @apply tw-duration-500;
  @apply tw-ease-in-out;
}

.benefits .list {
  @apply tw-flex;
  @apply tw-flex-col;
  @apply tw-justify-start;
  @apply tw-items-start;
  @apply tw-gap-2;

  @apply tw-text-white-800;
}

.benefits .list .item {
  @apply tw-flex;
  @apply tw-justify-start;
  @apply tw-items-center;
  @apply tw-gap-3;
}

.benefits .list i {
  @apply tw-text-green-500;
  @apply tw-text-2xl;
}

.show-more {
  @apply tw-flex;
  @apply tw-justify-center;
  @apply tw-items-center;
  @apply tw-gap-8;

  @apply tw-mb-6;
}

.show-more .text p {
  @apply tw-flex;
  @apply tw-justify-center;
  @apply tw-items-center;
  @apply tw-gap-2;

  @apply tw-text-gray-700;
  @apply tw-font-semibold;
  @apply tw-cursor-pointer;

  @apply tw-text-lg;

  @apply tw-transition;
  @apply tw-duration-200;
  @apply tw-ease-in-out;
}

.show-more .text p i {
  @apply tw-text-2xl;
}

.btn-primary {
  @apply tw-w-full;
  @apply tw-py-3;
  @apply tw-text-lg;
}

.list-item.one {
  opacity: 0;

  animation: leftToRight 0.4s ease-out;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-delay: 100ms;

  /* responsive */
  @media screen and (min-width: 768px) {
    animation: leftToRight 0.7s ease-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
  }
}

.list-item.three {
  opacity: 0;

  animation: rightToLeft 0.4s ease-out;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-delay: 100ms;

  /* responsive */
  @media screen and (min-width: 768px) {
    animation: rightToLeft 0.7s ease-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
  }
}

.list-item.two {
  opacity: 0;

  animation: fadeIn 0.4s ease-out;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-delay: 100ms;

  /* responsive */
  @media screen and (min-width: 768px) {
    animation: fadeIn 0.7s ease-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
  }
}

.priceAndButton.two {
  background: linear-gradient(0deg, #ED116A 0%, #ff5090 100%);
  @apply tw-shadow-xl;
}

.prices .old .coin.two {
  @apply tw-text-white-300;
  @apply tw-text-base;
}

.prices .old .value.two {
  @apply tw-text-white-300;
  @apply tw-text-2xl;
}

.line.two {
  @apply tw-absolute;
  @apply tw-w-[124px];
  @apply tw-h-[2px];
  @apply tw-bg-white-300;
}

.benefits .list.two {
  @apply tw-text-pink-800;
}

.benefits .list.two i {
  @apply tw-text-pink-500;
  @apply tw-text-2xl;
}

.btn-primary.two {
  @apply tw-bg-white-50;
  @apply tw-text-pink-600;
  @apply tw-border-none;
}

.show-more.two .text p {
  @apply tw-text-pink-500;
}

.list-item.two {
  @apply tw-bg-gray-50;
}