.header {
  @apply tw-flex;
  @apply tw-flex-col;
  @apply tw-items-center;
  @apply tw-justify-start;

  @apply tw-gap-24;

  @apply tw-pt-56;
  @apply tw-mb-12;
}

.header div {
  @apply tw-flex;
  @apply tw-flex-col;
  @apply tw-items-center;
  @apply tw-justify-center;
  @apply tw-gap-4;
}

.header div h1 {
  @apply tw-text-lg;
  @apply tw-font-bold;
  @apply tw-text-gray-900;

  @apply tw-items-center;
  @apply tw-justify-center;
  @apply tw-text-center;
}

.header div h1 span {
  @apply tw-text-pink-500;
  @apply tw-text-5xl;
  @apply tw-text-center;
}

.header div p {
  @apply tw-text-lg;
  @apply tw-text-gray-700;
}

.header .image-and-icons {
  @apply tw-relative;
}

.header .image-and-icons .main-example {
  @apply tw-relative;

  @apply tw-max-w-[380px];
  @apply md:tw-max-w-md;
}

.header .image-and-icons .whats {
  @apply tw-absolute;
  @apply tw-top-[-10px];
  @apply tw-left-[-10px];

  @apply tw-w-16;
}

.header .image-and-icons .google {
  @apply tw-absolute;
  @apply tw-top-[70px];
  @apply tw-left-[10px];

  @apply tw-w-14;
}

.header .image-and-icons .insta {
  @apply tw-absolute;
  @apply tw-top-[164px];
  @apply tw-right-[10px];

  @apply tw-w-14;
}

.header .image-and-icons .face {
  @apply tw-absolute;
  @apply tw-top-[224px];
  @apply tw-right-[-16px];

  @apply tw-w-16;
}

.header .image-and-icons .meta {
  @apply tw-absolute;
  @apply tw-top-[300px];
  @apply tw-right-[10px];

  @apply tw-w-16;
}

.partners {
  @apply tw-flex;
  @apply tw-flex-col;
  @apply tw-items-center;
  @apply tw-justify-center;

  @apply tw-gap-16;

  @apply tw-py-12;
}

.partners h2 {
  @apply tw-text-sm;
  @apply tw-font-semibold;
  @apply tw-text-gray-600;
}

.carousel {
  @apply tw-overflow-hidden;
  @apply tw-relative;
  @apply tw-w-full;
  @apply tw-h-20;
}

.carousel-track {
  @apply tw-flex;
  @apply tw-gap-8;
  animation: scroll 20s linear infinite;
}

.carousel-item {
  flex: 0 0 auto;
  width: 164px;
  @apply tw-mr-5;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.image-model {
  @apply tw-relative;
  @apply tw-w-fit;
  @apply tw-h-fit;

  @apply tw-bg-yellow-100;
}

.icon {
  @apply tw-absolute;
}

.icon.whatsdemo {
  @apply tw-top-[32px];
  @apply tw-left-[72px];

  @apply tw-w-16;
}

.icon.telegramdemo {
  @apply tw-top-[116px];
  @apply tw-left-[56px];

  @apply tw-w-14;
}

.icon.instademo {
  @apply tw-top-[132px];
  @apply tw-right-[72px];

  @apply tw-w-14;
}

.icon.messagerdemo {
  @apply tw-top-[196px];
  @apply tw-right-[20px];

  @apply tw-w-16;
}

.textbox {
  /* responsive */
  @apply tw-w-fit;
  @apply tw-absolute;

  @apply tw-text-lg;
  @apply tw-p-4;

  @apply tw-rounded-lg;
  @apply tw-shadow-md;

  /* desktop */

  /* all */
  @apply tw-border-white-200;
  @apply tw-border;

  background: rgba(249, 249, 249, 0.8);

  backdrop-filter: blur(3px);
}

.textbox span {
  @apply tw-font-semibold;
}

.textbox.one {
  /* responsive */
  @apply tw-top-[56%];
  @apply tw-left-20;

  /* desktop */
}

.textbox.two {
  /* responsive */
  @apply tw-top-[79%];
  @apply tw-left-1/4;

  /* desktop */
}

.support-text {
  /* responsive */
  @apply tw-hidden;
  @apply md:tw-flex;

  /* desktop */
}

.other-features {
  /* responsive */
  @apply tw-mt-24;

  @apply tw-grid;
  @apply tw-grid-cols-1;

  @apply tw-gap-8;

  @apply tw-p-4;

  /* desktop */
  @apply lg:tw-grid-cols-2;
}

.other-features .text-area {
  /* responsive */
  @apply tw-text-center;
  /* desktop */
}

.other-features .text-area h2 {
  /* responsive */
  @apply tw-mb-4;

  @apply tw-text-4xl;
  @apply tw-font-semibold;
  @apply tw-text-pink-500;

  /* desktop */
}

.other-features .text-area span {
  /* responsive */
  @apply tw-text-xl;
  @apply tw-font-semibold;

  /* desktop */
}
