.main {

  /* All */
  @apply tw-relative;

  @apply tw-flex;
  @apply tw-flex-col;
  @apply tw-items-center;
  @apply tw-justify-start;

  @apply tw-overflow-hidden;
}

.background {
  /* Responsive */
  @apply tw-max-w-[1100px];
  @apply tw-top-[0px];

  /* Desktop */
  @apply md:tw-max-w-[2000px];

  /* all */
  @apply md:tw-top-[-200px];
  @apply tw-absolute;
}

.header {
  /* Responsive */
  @apply tw-pt-48;
  @apply tw-gap-16;

  @apply tw-mb-12;

  @apply tw-px-8;

  /* Desktop */
  @apply md:tw-pt-56;
  @apply md:tw-px-0;
  @apply md:tw-gap-24;

  /* All */
  @apply tw-container;
  @apply tw-flex;
  @apply tw-flex-col;
  @apply tw-items-center;
  @apply tw-justify-start;
}

.header div {
  @apply tw-flex;
  @apply tw-flex-col;
  @apply tw-items-center;
  @apply tw-justify-center;

  @apply tw-gap-4;
}

.title-and-description {
  opacity: 0;

  animation: fadeIn 0.4s ease-out;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-delay: 100ms;

  /* responsive */
  @media screen and (min-width: 768px) {
    animation: fadeIn 0.7s ease-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
  }
}

.header div h1 {
  /* responsive */
  @apply tw-text-lg;
  @apply tw-font-bold;
  @apply tw-text-gray-900;

  /* desktop */
  @apply md:tw-text-4xl;


  /* all */
  @apply tw-items-center;
  @apply tw-justify-center;
  @apply tw-text-center;


}

.header div h1 span {
  /* responsive */
  @apply tw-text-5xl;

  /* desktop */
  @apply md:tw-text-6xl;

  /* all */
  @apply tw-text-center;
  @apply tw-text-pink-500;
}

.header div p {
  /* responsive */
  @apply tw-text-center;

  /* all */
  @apply tw-text-lg;
  @apply tw-text-gray-700;
}

.header .image-and-icons {
  @apply tw-relative;
  @apply tw-w-full;
}

.header .image-and-icons .main-example {
  /* responsive */
  @apply tw-w-full;
  @apply tw-max-w-[464px];

  @apply md:tw-max-w-[80%];
}

.header .image-and-icons .whats {
  /* responsive */
  @apply tw-top-[-32px];
  @apply tw-left-[10px];

  @apply tw-w-16;

  /* tablet */
  @apply md:tw-top-[-16px];
  @apply md:tw-left-[8px];

  @apply md:tw-w-20;

  /* desktop */
  @apply lg:tw-top-[-20px];
  @apply lg:tw-left-[8dvw];

  @apply md:tw-w-24;

  /* all */
  @apply tw-absolute;

  opacity: 0;

  animation: leftToRight 0.4s ease-out;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-delay: 100ms;

  /* responsive */
  @media screen and (min-width: 768px) {
    animation: leftToRight 0.7s ease-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
  }
}

.header .image-and-icons .google {
  /* responsive */
  @apply tw-top-[40px];
  @apply tw-left-[-8px];

  @apply tw-w-14;

  /* tablet */
  @apply md:tw-top-[70px];
  @apply md:tw-left-[10px];

  @apply md:tw-w-16;

  /* desktop */
  @apply md:tw-top-24;
  @apply md:tw-left-[5dvw];

  @apply md:tw-w-24;

  /* all */
  @apply tw-absolute;

  opacity: 0;

  animation: leftToRight 0.4s ease-out;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-delay: 100ms;

  /* responsive */
  @media screen and (min-width: 768px) {
    animation: leftToRight 0.7s ease-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
  }
}

.header .image-and-icons .insta {
  /* responsive */
  @apply tw-top-[-20px];
  @apply tw-right-[20px];

  @apply tw-w-14;

  /* tablet */
  @apply md:tw-top-[300px];
  @apply md:tw-right-[1dvw];

  @apply md:tw-w-16;

  /* desktop */
  @apply lg:tw-top-[164px];
  @apply lg:tw-right-[5.4dvw];

  @apply md:tw-w-24;

  /* all */
  @apply tw-absolute;

  opacity: 0;

  animation: rightToLeft 0.4s ease-out;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-delay: 100ms;

  /* responsive */
  @media screen and (min-width: 768px) {
    animation: rightToLeft 0.7s ease-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
  }
}

.header .image-and-icons .face {
  /* responsive */
  @apply tw-bottom-[56px];
  @apply tw-right-[-8px];

  @apply tw-w-16;

  /* tablet */
  @apply md:tw-bottom-[500px];
  @apply md:tw-right-[5dvw];

  /* desktop */
  @apply lg:tw-top-[280px];
  @apply lg:tw-right-[4dvw];

  @apply lg:tw-w-24;

  /* all */
  @apply tw-absolute;

  opacity: 0;

  animation: rightToLeft 0.4s ease-out;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-delay: 100ms;

  /* responsive */
  @media screen and (min-width: 768px) {
    animation: rightToLeft 0.7s ease-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
  }
}

.header .image-and-icons .meta {
  /* responsive */
  @apply tw-bottom-[-20px];
  @apply tw-right-[8px];

  @apply tw-w-16;

  /* desktop */
  @apply md:tw-top-[400px];
  @apply md:tw-right-[5.4dvw];

  @apply md:tw-w-24;

  /* all */
  @apply tw-absolute;

  opacity: 0;

  animation: rightToLeft 0.4s ease-out;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-delay: 100ms;

  /* responsive */
  @media screen and (min-width: 768px) {
    animation: rightToLeft 0.7s ease-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
  }
}

.partners {
  @apply tw-flex;
  @apply tw-flex-col;
  @apply tw-items-center;
  @apply tw-justify-center;
  @apply tw-gap-16;
  @apply tw-py-12;
}

.active {
  @apply tw-opacity-100;
  @apply tw-transform;
  @apply tw-translate-x-0;
  @apply tw-transition-all;
  @apply tw-duration-500;
  @apply tw-ease-in-out;
}

.partners h2 {
  @apply tw-text-lg;
  @apply tw-font-semibold;
  @apply tw-text-white-600;
}

.carousel {
  @apply tw-overflow-hidden;
  @apply tw-relative;
  @apply tw-w-full;
  @apply tw-h-20;
}

.carousel-track {
  @apply tw-flex;
  @apply tw-gap-8;
}

.carousel-item {
  flex: 0 0 auto;
  @apply tw-w-[164px];
  @apply tw-mr-5;
  transition: transform 0.5s ease-in-out;
}

.image-model {
  /* responsive */
  @apply tw-mb-24;
  @apply max-md:tw-w-fit;
  @apply max-md:tw-h-fit;

  /* desktop */
  @apply md:tw-container;
  @apply md:tw-mb-32;

  @apply md:tw-flex;
  @apply md:tw-items-end;
  @apply md:tw-justify-end;

  @apply md:tw-px-4;

  @apply md:tw-h-[359px];
  @apply lg:tw-max-w-[1024px];

  @apply md:tw-rounded-3xl;

  /* all */
  @apply tw-relative;
  @apply tw-bg-gray-100;

}

.model {
  /* responsive */

  /* desktop */
  @apply lg:tw-absolute;
  @apply lg:tw-left-[1dvw];


  /* all */
}

.icon {
  @apply tw-absolute;
}

.icon.whatsdemo {
  /* Reponsive */
  @apply tw-top-[32px];
  @apply tw-left-[56px];

  @apply tw-w-20;

  /* Desktop */
  @apply lg:tw-top-[-20px];
  @apply lg:tw-left-[300px];

  @apply tw-w-16;

  /* All */
}

.icon.telegramdemo {
  /* Responsive */
  @apply tw-bottom-[264px];
  @apply tw-left-[40px];

  @apply tw-w-14;

  /* Desktop */
  @apply lg:tw-bottom-[-48px];
  @apply lg:tw-left-96;

  @apply lg:tw-w-24;

  /* All */
}

.icon.instademo {
  /* Responsive */
  @apply tw-top-[132px];
  @apply tw-right-[72px];

  @apply tw-w-14;

  /* Desktop */
  @apply lg:tw-top-[16px];
  @apply lg:tw-left-[364px];

  @apply lg:tw-w-28;

  /* All */

}

.icon.messagerdemo {
  /* Responsive */
  @apply tw-top-[196px];
  @apply tw-right-[20px];

  @apply tw-w-16;

  /* Desktop */
  @apply tw-top-[220px];
  @apply lg:tw-left-[440px];

  @apply lg:tw-w-20;

  /* All */

}

.text-box {
  /* responsive */
  @apply tw-w-fit;
  @apply tw-absolute;

  @apply tw-text-lg;
  @apply tw-p-4;

  @apply tw-rounded-2xl;
  @apply tw-shadow-md;

  /* desktop */

  /* all */
  @apply tw-border-white-200;
  @apply tw-border;

  background: rgba(249, 249, 249, 0.8);

  backdrop-filter: blur(3px);
}

.text-box span {
  @apply tw-font-semibold;
}

.text-box.one {
  /* responsive */
  @apply tw-top-[72%];
  @apply tw-left-4;

  /* desktop */
  @apply lg:tw-top-[64%];
  @apply lg:tw-left-[-88px];
}

.text-box.two {
  /* responsive */
  @apply tw-top-[96%];
  @apply tw-left-12;

  /* desktop */
  @apply lg:tw-top-[94%];
  @apply lg:tw-left-[-20px];
}

.support-text {
  /* responsive */
  @apply tw-hidden;

  /* desktop */
  @apply lg:tw-flex;
  @apply lg:tw-flex-col;
  @apply lg:tw-w-fit;
  @apply lg:tw-h-full;

  @apply lg:tw-gap-4;

  /* all */
  @apply tw-py-4;
}

.icons-model {
  /* responsive */
  @apply tw-flex;
  @apply tw-gap-4;

  /* desktop */
  @apply lg:tw-flex;
  @apply lg:tw-justify-center;
  @apply lg:tw-items-center;

  /* all */
}

.icons-model p {
  @apply tw-text-5xl;
  @apply tw-font-semibold;
  @apply tw-text-orange-500;

}

.icon-model {
  /* responsive */
  @apply tw-w-8;
  @apply tw-h-8;

  /* desktop */
  @apply lg:tw-w-fit;
  @apply lg:tw-h-fit;

  /* all */
  @apply tw-bg-orange-100;
  @apply tw-rounded-3xl;
  @apply tw-p-4;

}

.text-model {
  @apply tw-h-full;

  @apply tw-flex;
  @apply tw-justify-center;
  @apply tw-items-center;
  @apply tw-text-center;

  @apply tw-rounded-3xl;

  @apply tw-text-xl;
  @apply tw-font-semibold;

  @apply tw-bg-yellow-600;
}

.text-model span {
  @apply tw-text-pink-500;
}

.text-model p {
  @apply tw-text-white-100;
}

.fast-more-brain {
  @apply tw-flex;
  @apply tw-gap-2;
}

.atmus-model {
  @apply tw-flex;
  @apply tw-justify-center;
  @apply tw-items-center;

  @apply tw-text-pink-500;

  @apply tw-gap-2;
}

.atmus-model p {
  @apply tw-text-4xl;
  @apply tw-font-semibold;

  @apply tw-text-pink-500;
}

.other-features {
  /* responsive */
  @apply tw-mt-24;
  @apply tw-gap-32;

  @apply tw-p-4;

  /* desktop */
  @apply lg:tw-grid-cols-2;

  /* all */
  @apply tw-container;
  @apply tw-flex;
  @apply tw-flex-col;
}

.other-features .text-area {
  /* responsive */


  /* desktop */
  @apply md:tw-w-[70%];

}

.other-features .feature .text-area h2 {
  /* responsive */
  @apply tw-mb-4;

  @apply tw-text-4xl;
  @apply tw-font-semibold;
  @apply tw-text-pink-500;

  /* desktop */

}

.other-features .feature .text-area span {
  /* responsive */
  @apply tw-text-xl;
  @apply tw-font-semibold;

  /* desktop */
}

.other-features .feature {
  /* responsive */
  @apply md:tw-grid-flow-row;
  @apply md:tw-grid-cols-2;
  @apply md:tw-grid;


  /* all */
  @apply tw-grid;
  @apply tw-items-center;
  @apply tw-w-full;
}

.other-features .feature.one .text-area {
  /* responsive */


  /* desktop */
  @apply md:tw-text-left;


  /* all */
}

.other-features .feature.two .text-area {
  /* responsive */


  /* desktop */
  @apply md:tw-text-right;


  /* all */
}

.section-circle {
  /* responsive */
  @apply tw-relative;

  /* desktop */

  /* all */
  @apply tw-w-full;
  @apply tw-flex;
  @apply tw-flex-col;
  @apply tw-items-center;
  @apply tw-justify-center;
}

.circle {
  /* responsive */
  @apply tw-absolute;
  @apply tw-left-0;
  @apply tw-top-60;
  @apply tw-z-[1];
  /* desktop */
}

.personalities {
  /* responsive */
  @apply tw-mt-24;

  @apply tw-p-6;

  @apply tw-relative;
  @apply tw-z-10;


  @apply tw-flex-col;
  @apply tw-items-center;
  @apply tw-justify-center;

  /* desktop */

  /* all */
  @apply tw-container;
  @apply tw-flex;
  @apply tw-gap-8;
}

.personalities h2 {
  /* responsive */
  @apply tw-mb-4;

  @apply tw-text-2xl;
  @apply tw-font-semibold;

  /* desktop */
  @apply tw-text-4xl;

  /* all */
  @apply tw-text-center;
}

.personalities span {
  /* responsive */
  @apply tw-text-pink-500;
}

.personalities .boxes {
  /* responsive */
  @apply tw-flex-col;

  /* desktop */
  @apply lg:tw-flex-row;

  /* all */
  @apply tw-flex;
  @apply tw-gap-4;
}

.personalities .box {
  /* responsive */
  @apply tw-w-full;
  @apply tw-max-w-[400px];

  @apply tw-rounded-2xl;
  @apply tw-border;
  @apply tw-border-white-100;
  box-shadow: 0px 4px 10.1px 0px rgba(0, 0, 0, 0.03);

  /* desktop */
  @apply lg:tw-max-w-[325px];

  /* all */
  @apply tw-bg-white-50;
}

.personalities .box img {
  /* responsive */
  @apply tw-w-full;

  /* desktop */
}

.personalities .box.one {
  opacity: 0;

  animation: fadeIn 0.4s ease-out;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-delay: 100ms;

  /* responsive */
  @media screen and (min-width: 768px) {
    animation: fadeIn 0.7s ease-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
  }
}

.personalities .box.two {
  opacity: 0;
  animation: fadeIn 0.6s ease-out;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-delay: 100ms;

  @media screen and (min-width: 768px) {
    animation: fadeIn 0.9s ease-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
  }
}

.personalities .box.three {
  opacity: 0;
  animation: fadeIn 0.6s ease-out;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-delay: 100ms;

  @media screen and (min-width: 768px) {
    animation: fadeIn 1s ease-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
  }
}

.personalities .box .box-text-area {
  /* responsive */
  @apply tw-p-4;

  @apply tw-flex;
  @apply tw-flex-col;
  @apply tw-gap-4;

  @apply tw-text-base;
  /* desktop */
}

.personalities .box .box-text-area .category {
  /* responsive */
  @apply tw-text-lg;
  @apply tw-font-semibold;

  /* desktop */

  /* all */
  @apply tw-rounded-2xl;
  @apply tw-w-fit;
  @apply tw-py-1;
  @apply tw-px-2;
}

.personalities .box .box-text-area .category.one {
  /* responsive */
  @apply tw-bg-green-100;
  @apply tw-text-green-500;

  /* desktop */
}

.personalities .box .box-text-area .category.two {
  /* responsive */
  @apply tw-bg-blue-100;
  @apply tw-text-blue-500;

  /* desktop */
}

.personalities .box .box-text-area .category.three {
  /* responsive */
  @apply tw-bg-yellow-100;
  @apply tw-text-yellow-600;

  /* desktop */
}

.plans {
  @apply tw-w-full;
}

.faq {
  /* responsive */
  @apply tw-px-4;
  @apply tw-container;

  /* desktop */

  /* all */
  padding-bottom: 80px;
  padding-top: 200px;
}